<% include ../../partials/header %>
<link href="css/main.css" rel="stylesheet" type="text/css">

<div id="content">
  <div class="wrap">
    <section id="share-wrap">
      <a href="#" id="unique-token">Share this room link</a>
    </section>

    <section id="enter-wrap">
      <div id="create-wrap">
        <p>회의를 시작하시겠습니까?</p>
        <button id="btn-start">Start</button>
      </div>
      <div id="wait-wrap"></div>
    </section>

    <section id="video-wrap" class="room-component">
      <div class="buttons">
        <button id="btn-camera">Camera Pause</button>
        <button id="btn-mic">Mic Mute</button>
      </div>
    </section>

    <section id="file-wrap" class="room-component">
      <input type="file" id="file-input" /><br>
      <button id="btn-send">Send file</button>

      <ul id="chat"></ul>
    </section>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="js/modules/peer-handler.js"></script>
<script src="js/modules/media-handler.js"></script>
<script src="js/main.js"></script>
<% include ../../partials/footer %>
