<% include ../../partials/header %>
  <link href="css/main.css" rel="stylesheet" type="text/css">

  <div id="content">
    <div class="wrap">
      <section id="connection-status">
        <div class="people-one">
          <i class="fas fa-child"></i>
          <p>혼자예요</p>
        </div>
        <div class="people-two">
          <i class="fas fa-people-arrows"></i>
          <p>둘이예요</p>
        </div>
      </section>

      <section id="file-wrap">
        <div class="buttons">
          <input type="file" id="file" /><br />
          <button id="btn-send" disabled>Send</button>
        </div>

        <div class="progress">
          <div class="label">Send progress: </div>
          <progress id="sendProgress" max="0" value="0"></progress>
        </div>

        <div class="progress">
          <div class="label">Receive progress: </div>
          <progress id="receiveProgress" max="0" value="0"></progress>
        </div>

        <div id="bitrate"></div>
        <a id="download"></a>
        <span id="status"></span>
      </section>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
  <script type="module" src="js/main.js"></script>
  <% include ../../partials/footer %>