<% include global/header.html %>
<link href="/examples/conference/main.css" rel="stylesheet" type="text/css">

<div id="content">
  <div class="wrap">
    <section id="join-wrap">
      <input type="text" id="your-name" placeholder="Your name" />
      <button id="start-broadcasting">Start</button>
    </section>
    <p id="token-wrap"><a href="#" id="unique-token">Share this room link</a></p>

    <!-- list of all available conferencing rooms -->
    <div id="room-list"></div>

    <!-- local/remote videos container -->
    <div id="video-wrap"></div>
  </div>
</div>

<script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/examples/conference/PeerConnection.js"></script>
<script src="/examples/conference/main.js"></script>
<% include global/footer.html %>

