<% include global/header.html %>

  <div id="content">
    <div id="logo-webrtc"></div>
    <ul class="wrap-240">
      <li><a href="/intro">WebRTC 소개</a></li>
      <li><a href="/getUserMedia">마이크 & 캠 접근하기</a></li>
      <li><a href="/filter">비디오에 필터 적용하기</a></li>
      <li><a href="/capture">비디오를 이미지로 캡쳐하기</a></li>
      <li class="not-yet"><a href="/conference">1:1 화상회의 만들기</a></li>
      <li class="not-yet"><a href="#">파일 & 데이터 전송하기</a></li>
      <li class="not-yet"><a href="#">녹화 하기</a></li>
      <li class="not-yet"><a href="https://www.microsoft.com/cognitive-services/en-us/emotion-api" target="_blank">얼굴 인식 (사진찍기)</a></li>
      <li class="not-yet"><a href="https://www.google.com/intl/en/chrome/demos/speech.html" target="_blank">오디오 API 이용한 음성 인식</a></li>
      <li><a href="http://www.html5rocks.com/ko/tutorials/webrtc/basics/" target="_blank">더 많은 자료</a></li>
    </ul>
  </div>
  
<% include global/footer.html %>

