<% include partials/header %>

<div id="content">
  <span id="logo-webrtc"></span>
  <ul class="wrap-250">
    <li><a href="/intro">WebRTC 소개</a></li>
    <li><a href="/get-user-media">마이크 &amp; 캠 접근하기</a></li>
    <li><a href="/filter">비디오에 필터 적용하기</a></li>
    <li><a href="/capture">비디오를 이미지로 캡쳐하기</a></li>
    <li><a href="/conference">1:1 화상회의</a></li>
    <li><a href="/screen-share">화면 공유</a></li>
    <li><a href="/speech-recognition">음성 인식</a></li>
    <li><a href="http://www.html5rocks.com/ko/tutorials/webrtc/basics/" target="_blank">더 자세한 설명</a></li>
    <li class="not-yet"><a href="/data-channel">파일 &amp; 데이터 전송하기</a></li>

    <!--<li class="not-yet"><a href="/multi-stream">멀티 스트림(테스트)</a></li>-->
    <!--<li class="not-yet"><a href="/dynamic-resolution">다이나믹 레졸루션(테스트)</a></li>-->
    <li class="not-yet"><a href="#">녹화 하기</a></li>
    <li class="not-yet">
      <a href="https://www.microsoft.com/cognitive-services/en-us/emotion-api" target="_blank">얼굴 인식 (사진찍기)</a>
    </li>
  </ul>
</div>

<% include partials/footer %>
