<% include ../../partials/header %>
<link href="main.css" rel="stylesheet" type="text/css">

<div id="content">
  <div class="wrap">
    <video autoplay></video>
    <p>비디오 화면을 클릭하면 CSS필터가 적용됩니다.</p>
    <button id="start">Start</button>

    <pre>
      <code class="highlight">$(function() {
  navigator.getUserMedia = navigator.getUserMedia ||
  	navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

  var $video = $('video')
    , idx = 0
    , filters = ['grayscale', 'sepia', 'blur', 'brightness',
                 'contrast', 'hue-rotate', 'hue-rotate2',
                 'hue-rotate3', 'saturate', 'invert', ''];

  function getUserMedia() {
    navigator.getUserMedia({
      audio: true,
      video: true
    }, function(stream) {
      // 비디오 테그에 stream 할당
      $video[0].srcObject = stream;
      $video[0].onloadedmetadata = function(e) {
        console.log('onloadedmetadata', e);
        $video[0].play();
      };
    }, function(err) {
      console.log('getUserMedia', err);
      alert(err.message);
    });
  }

  function changeFilter(e) {
    var el = e.target;
    el.className = '';
    var effect = filters[idx++ % filters.length]; // loop through filters.
    if (effect) {
      el.classList.add(effect);
    }
  }

  // initialize
  $('video').click(changeFilter);
  $('#start').click(getUserMedia);
});</code>
   	</pre>

  </div>
</div>

<script>
  $(function() {
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
    var $video = $('video')
      , idx = 0
      , filters = ['grayscale', 'sepia', 'blur', 'brightness',
                   'contrast', 'hue-rotate', 'hue-rotate2',
                   'hue-rotate3', 'saturate', 'invert', ''];

    function getUserMedia() {
      navigator.getUserMedia({
        audio: true,
        video: true
      }, function(stream) {
        // 비디오 테그에 stream 할당
        $video[0].srcObject = stream;
        $video[0].onloadedmetadata = function(e) {
          console.log('onloadedmetadata', e);
          $video[0].play();
        };

        /* 스피치 인식.
        var recognition = new webkitSpeechRecognition();
        recognition.onresult = function(event) {
          console.log('recognition', event);
        };
        recognition.start();
        */

      }, function(err) {
        console.log('getUserMedia', err);
        alert(err.message);
      });
    }

    function changeFilter(e) {
      var el = e.target;
      el.className = '';
      var effect = filters[idx++ % filters.length]; // loop through filters.
      if (effect) {
        el.classList.add(effect);
      }
    }

    // initialize
    $('video').click(changeFilter);
    $('#start').click(getUserMedia);
  });
</script>

<% include ../../partials/footer %>
