@charset "utf-8";
/*!
 *
 * WebRTC Lab
 * @author dodortus (codejs.co.kr / dodortus@gmail.com)
 *
 */

#result {
  margin-bottom: 20px;
  padding: 10px 20px;
  height: 150px;
  border: solid 1px #000;
  border-radius: 6px;
}
#result span {
  line-height: 1.5;
}

#btn-mic {
  text-align: center;
  min-width: 160px;
}
#btn-mic span {
  display: inline-block;
  margin: 1px 0 0 5px;
  width: 10px;
  height: 10px;
  border: solid 1px #fff;
  background: #bbb;
  border-radius: 50%;
}
#btn-mic.on span {
  background: green;
}
#icon-music {
  display: none;
  position: absolute;
  top: 62px;
  right: 70px;
  font-size: 80px;
}
ul li {
  font-size: 1em;
}

.red {
  background: red;
}
.blue {
  background: blue;
  color: #fff !important;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.orange {
  background: orange;
}
.grey {
  background: grey;
}
.gold {
  background: gold;
}
.white {
  background: white;
}
.black {
  background: black;
  color: #fff !important;
}
.visible {
  display: block !important;
}
