<% include ../../partials/header %>
<link href="css/main.css" rel="stylesheet" type="text/css">

<div id="content">
  <div class="wrap">
    <section id="share-wrap">
      <p>크롬 63이상 동작합니다.<p>
      <a href="#" id="unique-token">Share this room link</a>
    </section>
    <section id="join-wrap">
      <p>영상회의를 시작하시겠습니까?</p>
      <button id="start">Start</button>
    </section>
    <section id="room-list"></section>

    <!-- local/remote videos container -->
    <section id="video-wrap">
      <div class="buttons">
        <button id="btn-camera">Camera Pause</button>
        <button id="btn-mic">Mic Mute</button>
        <button id="btn-change-resolution">Change resolution</button>
      </div>
    </section>
  </div>
</div>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="js/main.js"></script>
<% include ../../partials/footer %>
