<% include ../../partials/header %>
<link href="css/main.css" rel="stylesheet" type="text/css">

<div id="content">
  <div class="wrap">
    <button id="btn-start">스크린쉐어</button>
    <video id="local-video" autoplay></video>
  </div>
</div>

<script src="/conference/js/modules/media-handler.js"></script>
<script src="js/modules/screen-handler.js"></script>
<script src="js/main.js"></script>

<% include ../../partials/footer %>
