    <footer>
      <p><a href="http://www.codejs.co.kr" target="_blank">&copy; Copyright by codeJS</a></p>
    </footer>

    <script src="/js/lib/highlight.min.js"></script>
    <script src="/js/base.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
 