@charset "utf-8";
/*!
 *
 * WebRTC Lab
 * @author dodortus (dodortus@gmail.com / codejs.co.kr)
 *
 */

.wrap {
  margin-top: 30px;
  position: relative;
  font-size: 1.2em;
  text-align: center;
}
.wrap p {
  font-size: 1.25em;
}
input[type='text'] {
  padding: 6px 10px;
  width: 120px;
  height: 30px;
  border: solid 1px #bbb;
  font-size: 1.3em;
}
#share-wrap {
  display: none;
  margin: 10px 0;
}
.wrap button {
  margin-top: 20px;
  vertical-align: top;
  min-width: 80px;
}
.room-info {
  vertical-align: top;
}

video {
  margin: 0 0 20px 0;
  width: 100%;
  z-index: 1;
  background: #222;
  border: solid 1px #fff;
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
}

video.effect {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
}

/* room */
#video-wrap {
  display: none;
  position: relative;
  margin: 0 auto;
}
#video-wrap .buttons {
  position: absolute;
  bottom: -50px;
}
.room #video-wrap {
  display: block;
}
#local {
  width: 340px;
  height: 220px;
  border: solid 1px #fff;
  position: absolute;
  top: 4%;
  right: 2%;
}
.local-video {
  width: 49%;
}

.room #share-wrap {
  display: block;
}
.room #room-list {
  display: none;
}
.room #content {
  padding-top: 30px;
}

.wait #video-wrap {
  min-height: 350px;
}
.wait #local-video-large {
  margin-right: 10px;
}
.wait #join-wrap,
.connected #join-wrap,
.connected #room-list {
  display: none;
}

.connected .local-video {
  position: absolute;
}
.connected #local-video-large,
.connected #local-video-small {
  top: 2px;
  left: 2px;
  width: 150px !important;
  border: solid 1px #fff;
  z-index: 2;
}
.connected #local-video-small {
  left: 160px !important;
}
